

/*  */
.loginpage{
    width: 350px;
    height: 450px;
 
    /* height: auto; */
    margin: 20px auto;
    border: 1px solid rgb(245, 243, 243);
    padding: 20px;
    border-radius: 10px;
 
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    
    background: #ffff;
    float: right;
 }
 .loginpage input{
     height:30px ;
     outline: none;
     /* border: none; */
 
 }
 .loginpage button{
     background-color: rgb(85, 111, 182);
     width: 305px;
     height: 38px;
     margin-left: 10px;
     margin-top: 25px; 
     border-radius: 5px;  
 }
 label{
     font-weight: 630;
     /* color: rgb(218, 91, 91); */
 
 }